{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
<div class = "container ">
    <div class = "row">
        <div class = "col-11 col-sm-9 col-md-10 col-lg-5 col-xl-6 mx-auto">
            <div class  = "card bg-white shadow border border-light rounded" style = "width:100%;">
                <di class = "card-body">
                    <h6 class = "card-text text-center custom-font-for-title">Login</h6>
                    <hr/>
                    <form method = "POST">
                        {% csrf_token %}
                        {{form|as_crispy_errors}}
                        <div class = "form-row py-1">
                            <div class = "col">
                                {{form.login|as_crispy_field}}
                            </div>
                        </div>
                        <div class = "form-row py-1">
                            <div class = "col">
                                {{form.password|as_crispy_field}}
                            </div>
                        </div>
                        <div class = "form-row py-1">
                            <div class = "col">
                                {{form.remember|as_crispy_field}}
                            </div>
                        </div>
                        <div class="d-inline-block col-6 mx-auto">
                            <button class="btn btn-primary" type="submit">Login</button>
                            or  <a  href = "{% provider_login_url 'google' method = 'oauth2'%}"><img src = '{% static "Google.png" %}' style = 'height:32px;width:32px;'></a>
                        </div>
                        <hr/>
                        <div class = "d-block">
                            <a href = "{% url 'account_signup' %}" class = "btn btn-primary">Sign Up</a>
                            <a href = "{% url 'account_reset_password' %}" class = "btn btn-primary">Forgot Password ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}
