{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class = 'container py-2'>
    <div class="d-inline-block d-flex">
        <div class = "row">
            <div class="col-md-4">
                <div class="card card-body border border-dark" style = 'margin-bottom: 15px;'>
                    <h3 class = "card-text text-center">{{user.username}}'s Profile</h3>
                    <hr>
                    {% if user.profile.avatar %}
                    <img class="rounded-circle mx-auto border border-dark" width = 100 height = 100 src="{{user.profile.avatar.url}}">
                    {% else %}
                    <img class="rounded-circle mx-auto border border-dark" width = 100 height = 100 src="{% static 'default.png' %}" >
                    {% endif %}
                    <br/>
                    <p class = "card-text profile-text">Username : {{user.username}}</p>
                    <p class = "card-text profile-text">Email : {{user.email}}</p>
                    <p class = "card-text profile-text">First Name : {{user.first_name}}</p>
                    <p class = "card-text profile-text">Last Name : {{user.last_name}}</p>
                </div>
            </div>
            <div class="col-md-8">
                <form method = 'POST' enctype = 'multipart/form-data'>
                    {% csrf_token %}
                    <div class="card card-body border border-dark">
                        <div class="row form-row">
                            <div class = "col">
                                {{user_form.username|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{user_form.email|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class = "col">
                                {{user_form.first_name|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{user_form.last_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class = "col">
                                {{profile_form.avatar|as_crispy_field}}
                            </div>
                        </div>
                        <div class = "d-inline-block py-2">
                            <button type = "submit" class = "btn btn-primary me-2 py-1">Update Profile</button>
                            <a href="{% url 'account_set_password' %}" class = "btn btn-primary me-2 py-1">Change Password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
    {% endblock %}
