[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-crispy-forms = "*"
django-allauth = "*"
django-celery-beat = "*"
flower = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
