{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
  <h1>Host a Ride</h1>
  <hr/>
  <form method = "POST">
    {% csrf_token %}
    {{form|crispy}}
    <div class = "d-inline-block d-flex py-2">
      <button class = "btn btn-primary" type = "submit">Add Ride</button>
    </div>
  </form>
  <h4 class = 'text-muted text-center'>*Note* Rides expire within 6 hours of their creation</h4>
</div>
{% endblock %}
