{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class = "container">
  <h1>Host a Ride</h1>
  <hr/>
  <form method = "POST">
    {% csrf_token %}
    {{form|crispy}}
    <div class = "d-inline-block d-flex py-2">
      <button class = "btn btn-primary" type = "submit">Add Ride</button>
    </div>
  </form>
  <h4 class = 'text-muted text-center'>*Note* Rides expire within 6 hours of their creation</h4>
</div>
<script>
  $(function () {
    $("#id_start_time").datetimepicker({
      format: 'd/m/Y H:i',
      step: 15,
    });
  });
</script>
{% endblock %}
