.custom-card{
  transition-timing-function: ease;
  transition: 0.3s;
}
.custom-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.footer-text{
  text-decoration:none;
}
.custom-enrollment{
  color:green;
}
