.custom-card{
    transition-timing-function: ease;
    transition: 0.3s;
  }
  
  .custom-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .footer-text{
    text-decoration:none;
  }
  .footer{
    position:fixed;
  }
  .custom-enrollment{
    color:green;
  }
  @media screen and (max-width: 1090px) {
    .profile-text{
      font-size: 14px !important;
    }
  }  
  @media screen and (max-width: 1112px) {
    .profile-text{
      font-size: 14px !important;
    }
  }
  @media screen and (max-width: 990px) {
    .profile-text{
      font-size: 9px !important;
    }
  }
  @media screen and (max-width: 770px) {
    .profile-text{
      font-size: 15px !important;
    }
  }
footer {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type:none;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
